@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Light.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-RegularItalic.woff2") format("woff2"), url("../fonts/SF-Pro-Display-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Thin.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "SF-Pro-Display";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "SF-Pro-Display";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: #161C24;
  font-size: 16px;
  line-height: 162.5%;
  font-weight: 500;
  padding: 12px 78px;
  border: 1px solid #161C24;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-bl {
  display: inline-block;
  background-color: #4295E4;
  padding: 12px 37px;
  border: none;
  color: #fff;
}

.title {
  font-weight: 600;
  line-height: 140.9090909091%;
  color: #161C24;
  font-size: calc(22px + 22 * ((100vw - 320px) / 1120));
}

.price {
  font-weight: 600;
  line-height: 120%;
  font-size: 20px;
  color: #161C24;
}

.oldprice {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 300;
  line-height: 118.1818181818%;
  color: #A4A4A4;
  font-size: calc(14px + 8 * ((100vw - 320px) / 1120));
}

.oldprice-sm {
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #A4A4A4;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 300;
}

.disabledLink {
  opacity: 0.4;
  cursor: auto;
}

.disabledLink:hover::before {
  width: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-top {
  background-color: #454f5b;
  height: 44px;
  position: relative;
  z-index: 4;
}

.header-top__container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.header-top__callback {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

.header-bottom {
  height: 82px;
  background: #ffffff;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #c4cdd5;
}

.header-bottom__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__logo {
  width: 50px;
  height: 42px;
  margin: 0px 101px 0px 0px;
}

.header-bottom__logo img {
  max-width: 100%;
}

.header-bottom__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li:not(:last-child) {
  margin: 0px 32px 0px 0px;
}

.menu__list li:nth-child(2) {
  position: relative;
  margin: 0px 54px 0px 0px;
}

.menu__link {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: #161c24;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header__call {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  line-height: 116.6666666667%;
  color: #454f5b;
  margin: 0px 30px 0px 0px;
  background: url("../img/icons/call.svg") left no-repeat;
  padding: 0px 0px 0px 26px;
}

.info-header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.info-header__icon:not(:last-child) {
  margin: 0px 24px 0px 0px;
}

.submenu__arrow {
  position: absolute;
  display: block;
  top: 50%;
  right: -20px;
  display: block;
  width: 12px;
  height: 7px;
  margin-top: -2.5px;
}

.submenu__body {
  display: none;
  position: absolute;
  z-index: 50;
  top: 20px;
  left: 0;
  min-width: 790px;
  padding: 16px 0px 0px 0px;
}

.submenu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 32px;
  -webkit-box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.category-submenu__list li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.category-submenu__link {
  font-size: 16px;
  line-height: 162.5%;
  color: #454f5b;
}

.category-submenu__link:hover {
  font-weight: 500;
  color: #161c24;
  border-bottom: 1px solid #4295e4;
}

.category-submenu__link--btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 162.5%;
  color: #ffffff;
  background-color: #4295e4;
  height: 40px;
  padding: 0 32px;
}

.category-submenu__link--btn:hover {
  background-color: #56a9f8;
}

.category-submenu__link--btn:active {
  background-color: #2e81d0;
}

.images-submenu__image {
  width: 350px;
  height: 300px;
  border: 1px solid #eaeaea;
}

.images-submenu__image img {
  max-width: 100%;
}

.footer {
  background-color: #0D2436;
  padding: 55px 0 25px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0px 0px 50px 0px;
}

.footer__column li {
  margin: 0px 0px 16px 0px;
}

.footer__column li:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__icons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  max-width: 106px;
  height: 88px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 24px 0px 0px;
}

.footer__social a:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__social a img {
  max-width: 100%;
}

.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 155.5555555556%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0px 0px 24px 0px;
}

.footer__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 162.5%;
  color: #FFFFFF;
  margin: 0px 0px 16px 0px;
}

.footer__nameLink {
  font-weight: 300;
  font-size: 14px;
  line-height: 121.4285714286%;
  color: #C4CDD5;
  margin: 0px 0px 16px 0px;
}

.footer__nameLink--email {
  margin: 24px 0px 16px 0px;
}

.footer__address span {
  font-weight: 300;
  font-size: 16px;
  line-height: 162.5%;
  color: #FFFFFF;
}

.footer__copy {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 24px 0px 0px 0px;
}

.footer__copy a {
  font-size: 14px;
  line-height: 121.4285714286%;
  color: #FFFFFF;
  opacity: 0.6;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page {
  min-width: 0;
  padding: 126px 0px 0px 0px;
}

.main-page__mainslider {
  padding: 171px 0px 155px 0px;
}

.main-page__info {
  background-color: #F2F8FF;
  padding: 40px 0 16px 0;
}

.main-page__service {
  padding: 93px 0px 100px 0px;
}

.main-page__category {
  padding: 0px 0px 100px 0px;
}

.main-page__products {
  padding: 0px 0px 96px 0px;
}

.main-page__callback {
  padding: 64px 0px 56px 0px;
}

.mainslider {
  position: relative;
  overflow: hidden;
}

.mainslider__control {
  position: absolute;
  width: 100%;
  height: 23px;
  bottom: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainslider__control .mainslider-button-next,
.mainslider__control .mainslider-button-prev {
  width: 11px;
  height: 23px;
  cursor: pointer;
}

.mainslider__control .mainslider-button-next {
  background: url("../img/icons/arrow-l.svg") no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mainslider__control .mainslider-button-prev {
  background: url("../img/icons/arrow-l.svg") no-repeat;
}

.mainslider__control .swiper-pagination {
  position: static;
  width: auto;
  margin: 0 24px;
}

.mainslider__control .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #4295E4;
  margin: 0 12px !important;
}

.mainslider__control .swiper-pagination-bullet-active {
  position: relative;
}

.mainslider__control .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 24px;
  height: 24px;
  border: 1px solid #4295E4;
  border-radius: 50%;
}

.mainslider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainslider__column {
  padding: 0 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.mainslider__image {
  text-align: center;
}

.mainslider__image img {
  max-width: 100%;
}

.content-mainslider__title {
  font-weight: 600;
  line-height: 140.9090909091%;
  color: #161C24;
  font-size: calc(22px + 22 * ((100vw - 320px) / 1120));
}

.content-mainslider__text {
  font-weight: 400;
  font-size: 14px;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: 171.4285714286%;
  color: #454F5B;
  max-width: 275px;
  padding: 20px 0 32px 0;
}

.content-mainslider__text p {
  margin: 0px 0px 16px 0px;
}

.content-mainslider__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.priceblock-mainslider__lable {
  font-size: 12px;
  line-height: 183.3333333333%;
  color: #454F5B;
  margin: 0px 0px 4px 0px;
}

.priceblock-mainslider__price {
  font-weight: 600;
  line-height: 120.8333333333%;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  color: #161C24;
  margin: 0px 0px 16px 0px;
}

.priceblock-mainslider__price span {
  margin: 0px 12px 0px 0px;
}

.priceblock-mainslider__price span:last-child {
  margin: 0px 0px 0px 0px;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__item {
  text-align: center;
  margin: 0px 0px 24px 0px;
}

.info__count {
  font-weight: 600;
  line-height: 118.75%;
  color: #161C24;
  margin: 0px 0px 16px 0px;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1120));
}

.info__name {
  color: #454F5B;
  font-weight: 600;
  line-height: 162.5%;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
}

.service__container {
  text-align: center;
}

.service__title {
  margin: 0px 0px 56px 0px;
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-left: 1px solid #C4CDD5;
  border-right: 1px solid #C4CDD5;
  padding: 24px;
  margin: 0px 30px 0px 0px;
}

.service__item:last-child {
  margin: 0px 0px 0px 0px;
}

.service__icon {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin: 0px 0px 32px 0px;
}

.service__icon img {
  max-width: 100%;
}

.service__text {
  line-height: 160%;
  color: #454F5B;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
}

.category__container {
  text-align: center;
}

.category__title {
  margin: 0px 0px 64px 0px;
}

.category__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  text-align: left;
}

.category__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 20px;
  position: relative;
  margin: 0px 0px 40px 0px;
}

.category__image {
  padding: 0 0 77.1% 0;
}

.category__name {
  position: absolute;
  bottom: 40px;
  left: 60px;
}

.category__label {
  font-weight: 500;
  line-height: 154.5454545455%;
  color: #161C24;
  font-size: calc(14px + 8 * ((100vw - 320px) / 1120));
}

.category__btn {
  margin: 16px 0px 0px 0px;
}

.category__showAll {
  margin: 30px 0px 0px 0px;
  padding: 12px 57px;
}

.products__container {
  overflow: hidden;
}

.products__header {
  margin: 0px 0px 64px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 312.5px;
  padding: 0 15px;
}

.products .header-products__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .control-products__prev,
.products .control-products__next {
  width: 14px;
  height: 27px;
  cursor: pointer;
}

.products .control-products__prev.swiper-button-disabled,
.products .control-products__next.swiper-button-disabled {
  opacity: 0.3;
}

.products .control-products__prev {
  background: url("../img/icons/arrow-l.svg") no-repeat;
}

.products .control-products__next {
  background: url("../img/icons/arrow-r.svg") no-repeat;
  margin-left: 40px;
}

.products .item-products__image {
  padding: 0 0 105% 0;
  background-color: #F7F7F7;
  position: relative;
}

.products .item-products__image span {
  position: absolute;
  top: 12px;
  right: 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 116.6666666667%;
  color: #161C24;
  padding: 8px 10px;
  background-color: #fff;
}

.products .item-products__status {
  position: absolute;
  top: 13px;
  left: 10px;
}

.products .item-products__info {
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px 0;
}

.products .item-products__info a {
  color: #454F5B;
  line-height: 162.5%;
  font-size: 16px;
}

.products .item-products__price {
  padding: 0 12px;
}

.products .item-products__price span {
  margin: 0px 12px 0px 0px;
}

.status__exist {
  font-size: 14px;
  line-height: 171.4285714286%;
  color: #454F5B;
  position: relative;
  padding: 0px 0px 0px 28px;
  margin: 0px 0px 8px 0px;
}

.status__exist::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: url("../img/icons/in.svg") center no-repeat;
  width: 8px;
  height: 6px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  padding: 10px 10px;
}

.status__exist--n::before {
  background: url("../img/icons/noin.svg") center no-repeat;
  background-color: #fff;
}

.status__surp {
  color: #161C24;
  font-size: 12px;
  line-height: 116.6666666667%;
  background-color: #fff;
  padding: 6px 8px 6px 30px;
  position: relative;
}

.status__surp::before {
  content: "";
  background: url("../img/icons/surp.svg") left no-repeat;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.callback {
  background-color: #F2F8FF;
}

.callback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.callback__title {
  margin: 0px 0px 24px 0px;
}

.callback__text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 162.5%;
  color: #454F5B;
  max-width: 518px;
}

.callback__form {
  margin: 24px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__input {
  height: 50px;
  width: 240px;
  background-color: #E9EFF6;
  padding: 0 16px;
  line-height: 162.5%;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  color: #454F5B;
  opacity: 0.8;
  margin: 0px 24px 0px 0px;
}

.callback__btn {
  padding: 12px 70px;
}

@media (min-width: 991.98px) {
  .footer__link:hover {
    text-decoration: underline;
  }

  .footer__copy a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #161C24;
    color: #fff;
  }

  .btn-bl:hover {
    background-color: #0f6ec7;
  }

  .menu__list li:nth-child(2):hover span {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__list li:nth-child(2):hover .submenu__body {
    display: block;
  }

  .menu__link {
    position: relative;
  }

  .menu__link:hover::before {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .category__name {
    bottom: 10px;
  }
}

@media (max-width: 992px) {
  .header-top__info {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  .header-top__callback {
    position: static;
    top: 0;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    color: #4295e4;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-weight: 600;
  }

  .header-top {
    height: 36px;
  }

  .header-bottom__logo {
    display: none;
  }

  .header-bottom {
    height: 70px;
  }

  .header-bottom::before {
    display: block;
  }

  .menu__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 3;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #161c24;
    border-radius: 50%;
  }

  .menu__icon span:first-child {
    top: 0px;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__icon._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0px 16px 40px 16px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 130px 0px 0px 0px;
  }

  .menu__list li {
    border-bottom: 1px solid #eaeaea;
    padding: 0px 0px 16px 0px;
  }

  .menu__list li:not(:last-child) {
    margin: 0px 0px 16px 0px;
  }

  .info-header__call {
    margin: 0px 0px 0px 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .submenu__arrow {
    right: 0;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: -7px;
  }
}

@media (max-width: 991.98px) {
  .main-page__mainslider {
    padding: 70px 0px 100px 0px;
  }

  .main-page__service {
    padding: 60px 0px 60px 0px;
  }

  .main-page__category {
    padding: 0px 0px 50px 0px;
  }

  .main-page__products {
    padding: 0px 0px 50px 0px;
  }

  .main-page__callback {
    padding: 32px 0px 32px 0px;
  }

  .mainslider__control {
    bottom: 18px;
  }

  .service__title {
    margin: 0px 0px 34px 0px;
  }

  .category__btn {
    padding: 8px 48px;
  }

  .products__header {
    margin: 0px 0px 44px 0px;
  }
}

@media (max-width: 860px) {
  .footer {
    padding: 32px 0 16px 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 24px 0px;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__column:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .footer__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__copy {
    padding: 16px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .btn {
    display: block;
    text-align: center;
  }

  .btn-bl {
    display: block;
    text-align: center;
  }

  .main-page {
    padding: 100px 0px 0px 0px;
  }

  .main-page__mainslider {
    padding: 36px 0px 96px 0px;
  }

  .main-page__info {
    padding: 30px 0 6px 0;
  }

  .main-page__service {
    padding: 40px 0px 40px 0px;
  }

  .main-page__category {
    padding: 0px 0px 40px 0px;
  }

  .main-page__products {
    padding: 0px 0px 36px 0px;
  }

  .mainslider__control {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    bottom: 40px;
  }

  .mainslider__body {
    display: block;
  }

  .mainslider__body {
    padding: 0px 16px;
  }

  .mainslider__column {
    padding: 0;
  }

  .mainslider__column:first-child {
    margin: 0px 0px 10px 0px;
  }

  .mainslider__image {
    max-width: 100%;
  }

  .content-mainslider__title {
    margin: 0px 0px 5px 0px;
  }

  .content-mainslider__text {
    display: none;
  }

  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .service__title {
    margin: 0px 0px 24px 0px;
  }

  .service__body {
    display: block;
  }

  .service__item {
    border-top: 1px solid #C4CDD5;
    border-bottom: 1px solid #C4CDD5;
    border-left: none;
    border-right: none;
    margin: 0px 0px 30px 0px;
  }

  .service__text {
    font-weight: 600;
  }

  .category__title {
    margin: 0px 0px 24px 0px;
  }

  .category__body {
    margin: 0 -10px;
  }

  .category__item {
    margin: 0px 0px 20px 0px;
    padding: 0 10px;
  }

  .category__name {
    position: static;
    margin: 12px 0px 0px 0px;
  }

  .category__btn {
    display: none;
  }

  .products__header {
    margin: 0px 0px 24px 0px;
  }

  .products .header-products__control {
    display: none;
  }

  .callback__title {
    margin: 0px 0px 16px 0px;
  }

  .callback__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .callback__input {
    width: 100%;
    margin: 0px 0px 16px 0px;
  }
}